@import "theme";

$dark-1: #121212;
$dark-2: #2d2d2d;
$white-1: #ccc;
$white-2: #fff;

*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
*::-webkit-scrollbar-track {
    background: #121212;
}
*::-webkit-scrollbar-thumb {
    background-color: $dark-2;
    border: 2px solid #121212;
}

.dark-theme {

    
    
    .white-bg-1 {
        background-color: $dark-1 !important;
    }
    .white-bg-2 {
        background-color: $dark-2 !important;
    }
    @media only screen and (max-width: 1000px) {
        .white-bg-2-mobile {
            background-color: $dark-2 !important;
        }
    }
    .black-text-1 {
        color: $white-1 !important;
    }
    .black-text-2 {
        color: $white-2 !important;
    }

    code {
        background: $dark-2 !important;
        border-color: $dark-2 !important;
        color: $white-1 !important;
    }
}
