@import "theme";

.main-extend {
    width: 100%;
}

.hero {
    width: 100%;
    height: 320px;
    background: #f0f0f0;
    box-shadow: 0 -3px 5px -5px #000 inset;
    display: grid;
    place-items: center;
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        h1 {
            font-weight: 900;
            margin: .3em;
            font-size: Min(10vw, 60px);
        }
    }
}