

$background-color: #2d2d2d;
$background-color-2: rgb(31, 31, 31);
$background-color-3: #000;
$color: #ccc;
$color-2: #fff;

$inverse-background-color: #ffffff;
$inverse-background-color-2: rgb(31, 31, 31);
$inverse-background-color-3: rgb(231, 231, 231);
$inverse-color: #000;

$constrict-wide: 1200px;
$constrict-narrow: 600px;
$sidebar-width: 260px;

$code-bg: #282c34;

$accent: #3f83f8;