head
    include head
    include static.html
    link(rel="stylesheet", href="/static/sass/global.css")
body
    include header
    main
        include sidebar
        .main-inner
            .main-content
                article
                    |!{view.markup.content}