footer 
    .footer-content
        .footer-inner
            .footer-row
                h2 
                    |Denoot
                p 
                    |Denoot is a high performance, light-weight, fully equipped HTTP server/router. It's designed to easily and declaratively route incoming HTTP requests. Denoot is powered by Deno and written entirely in Typescript.
            .footer-row
                h2
                    |Links
                ul
                    li
                        a(href="https://github.com/Denoot/denoot") Github Repository
                    li
                        a(href="https://deno.land/x/denoot") Denoot on deno.land
                    li
                        a(href="/#what-is-denoot-") About Denoot
                    li
                        a(href="/contribute") Help improve Denoot
                    li
                        a(href="/creating-denoot-app") Documentation
                    li
                        a(href="/getting-started") Getting Started
                    li
                        a(href="/getting-started") Quick Start
                    li
                        a(href="/getting-started") Installation
            .footer-row
                h2 
                    |Resources
                ul
                    li
                        a(href="/middleware") Middleware
                    li
                        a(href="/sending-response#") Respond to Request
                    li
                        a(href="/creating-denoot-app") Documentation
                    li
                        a(href="/url-parameters") URL Parameters
                    li 
                        a(href="/best-practices") Best Practices
                    li
                        a(href="/wildcard-routing") Wildcard Routing
        .footer-footer
            p
                |Statically generated using markdown, <a href="https://pugjs.org/">Pug JS</a>, <a href="https://sass-lang.com/">Sass</a> and routed with <a href="/">Denoot</a>
                br
                |@ #{new Date().toGMTString()}
            p
                |Copyright © 2021 Denoot Authors & Contributors