head
    include head
    title= "Denoot"
    include static.html
    link(rel="stylesheet" href="/static/sass/global.css")
    link(rel="stylesheet" href="/static/sass/home.css")
body
    include header
    main
        .main-wrapper
            .main-extend
                .hero
                    .hero-content
                        h1 
                            |Denoot
                        p 
                            |Light-weight, high performance web server for <a href="https://deno.land">Deno</a>

            .main-inner
                .main-content
                    article
                        |!{getting_started.markup.content}
                    div(style="display: flex; justify-content: center")
                        .button.inline
                            a(href="/creating-denoot-app")
                                .button-inner
                                    |Continue to Docs
                    hr
                    article
                        |!{what_is_denoot.markup.content}
    include footer